$config-sizes-margin-S: 20px !default;
$config-sizes-margin-M: 24px !default;
$config-sizes-margin-L: 32px !default;

$config-sizes-min-width-S: 320px  !default;
$config-sizes-max-width-S: 767px  !default;
$config-sizes-min-width-M: 751px  !default;
$config-sizes-max-width-M: 1024px !default;
$config-sizes-min-width-L: 1006px !default;
$config-sizes-max-width-L: 1444px !default;
