$config-sizes-margin-S: 20px;
$config-sizes-margin-M: 24px;
$config-sizes-margin-L: 32px;

$config-sizes-min-width-S: 320px;
$config-sizes-max-width-S: 767px;
$config-sizes-min-width-M: 751px;
$config-sizes-max-width-M: 1024px;
$config-sizes-min-width-L: 1006px;
$config-sizes-max-width-L: 1444px;
